body{
    font-size: 15px;
    width: auto;
    border: 10px solid white;
    padding: 0;
    margin: 3px;
    
}
.all-browsers {
    margin: 5;
    padding: 5px;
    background-color: burlywood;
}
.all-browsers >h1, .browser{
   margin: 2px;
   padding: 5px;
}
.browser{
   background-color:rgb(254, 235, 206);
}
img.cocoalogo iframe{
    width: 100%;
    height: auto;
   
   }
   /* I need to figure out how to make it so that the logo I crated does not keep going over on the page. 
   Relook at the program when you have time to reasearch this part*/
h1 {
    
    text-align: center;
   @font-face {
    font-family Questa_regualr
    src: url();
   }
   font-weight: lighter;
   font-size: 150%;
   color:rgb(93, 62, 45)
   
}
h1{
    font-size: 200%;
    background-color:#FAEBD7;
    border: 5px dashed black;
    margin: 10px;
    padding: 10px;
    text-shadow: 2px 2px 4px gray;
    
    
    
}
h2{
    font-size: 150%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
h3{
    font-size: 150% ;
    @font-face {
        font-family: Questa_regular;
        src: url();
    }
}
li a:hover{
    background-color:#FAEBD7;
    display: block;
}


ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c0b9b9;
   

}

li a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a.active {
    display: block;
    padding: 14px;
    background-color: rgb(250, 209, 178);
}
section{
overflow:auto;
}

.cocoalogo{
    float: inline-end;
    width: 10px;
    border: 1.5px dotted white;
    padding: 0px;
    margin: 0px;
}
aside{
    border: 10px dotted rgb(11, 11, 11);
    padding: 5px;
    margin: 2px;
    float: right;
    background-color: hsl(23, 49%, 54%);
}

